<!--The whole content below can be removed with the new code.-->
<br>
<div class="container">
    <form #f="ngForm" novalidate autocomplete="off">
        <div class="form-group">        
          <input type="text" name="name" class="form-control" placeholder="Enter Full Name" [(ngModel)]="name" required >
        </div>     
         <div class="form-group">
          <input type="text" name="email" class="form-control"  placeholder="Email" [(ngModel)]="email" [pattern]="emailPattern" required>
        </div>
        <div class="form-group">
          <input type="number" name="marks" class="form-control" placeholder="Total Marks" [(ngModel)]="marks"  required>
        </div>
        <div class="form-group">
          <button name="submit" class="btn btn-primary" [disabled]="!f.form.valid" (click)="showStudent()">Submit</button>
        </div>
      </form>
    </div>
<br>
<div class="container" *ngIf="hasData">
    {{student.name | titlecase}}:{{student.email}}
</div>